body{
    background-color: lightgreen;
}

.header {
    text-align: center;
}

nav {
    border-top: 1px solid black;
    background-color: darkgrey;
}

.navigation li:first-child {
    text-align: center;
    display: block;
    text-decoration: none; 
}

.navigation {
    margin: 0;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

nav ul {
    padding: 0;
}

nav li {
    display: none;
}

nav li a:hover, .active{
    text-decoration: underline;
    font-size: 125%;
}

a {
    text-decoration: none;
}

.response li {
    display: block;
    text-align: center; 
    padding: 5px;   
}

.response nav li {
    display: block;
}

nav li {
    font-weight: bold;
}


